html {
  background-color: skyblue;
  
}


.container {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}


.resume {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 300%;
  background-color: rgba(135,206,235,0.24);
  border-bottom: 1px solid skyblue;
  text-transform: uppercase;
}

.intro {
  display: block;
  width: 100%;
  
}

.VJ {
  float: left;
  padding: 5px 5px;
  width: 30%;
  box-sizing: border-box;
  }

.VJ:hover {
  background-color: purple;
}

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid blue;
}

.about {
  float: right;
  width: 70%;
  
}

.about h1 {
  color: blue;
  font-size: 200%;
}










.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}