html {
  background-color: skyblue;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* grid */
@media screen and (max-width: 767px) {
  .col-xs-11 {width: 91.662%;}
  .col-xs-10 {width: 83.332%;}
  .col-xs-9 {width: 75%;}
  .col-xs-8 {width: 66.662%;}
  .col-xs-7 {width: 58.331%;}
  .col-xs-6 {width: 50%;}
  .col-xs-5 {width: 41.662%;}
  .col-xs-4 {width: 33.332%;}
  .col-xs-3 {width: 25%;}
  .col-xs-2 {width: 16.662%;}
  .col-xs-1 {width: 8.332%;}
  }
html {
  max-width: 100%;
}

.container {
  box-sizing: border-box;
  background-color: white;
  font-family: Calibri, sans-serif;
}


.resume {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 300%;
  background-color: rgba(135,206,235,0.24);
  border-bottom: 1px solid skyblue;
  text-transform: uppercase;
}

.intro {
  display: block;
  width: 100%;
  
}

.VJ {
  float: left;
  padding: 5px 5px;
  width: 30%;
  box-sizing: border-box;
  }

img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid blue;
}

.about {
  float: right;
  width: 70%;
  
}

.about h1 {
  color: blue;
  font-size: 200%;
}










.row:before,
.row:after,
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
}